<form action="/auth/signup" method="POST">

<div>
    {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}} 
</div>

 <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          Humble Gamers 
          <br/>
          <span style="color: hsl(218, 81%, 75%)">Addiction included</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Signup Form
        </p>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <!-- Username input -->
            <div class="form-outline mb-4">
                <label for="username-input">Username:</label>
                <input type="text" name="username" placeholder="Enter here"class="form-control" />
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
                <label for="email-input">Email:</label>
                <input type="email" name="email" placeholder="Enter here"class="form-control" />
            </div>

            <!-- Display Name input -->
            <div class="form-outline mb-4">
                <label for="displayName-input">Display Name:</label>
                <input type="text" name="displayName" placeholder="Enter here"class="form-control" />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <label for="password-input">Password:</label>
                <input type="password" name="password" placeholder="**********" class="form-control" />
            </div>

            <!-- Admin input -->
            <div class="form-outline mb-4">
                <label for="isAdmin-input">Admin?</label>
                <select name="isAdmin">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4">
                Signup
            </button> 

            </div>
</form>