<h2>Create an Account</h2>
<form action="/auth/signup" method="POST">
    <label for="username-input">Username:</label>
    <input type="text" name="username" placeholder="123username123">
    <label for="email-input">Email:</label>
    <input type="email" name="email" placeholder="123username123@email.com">
    <label for="displayName-input">Display Name:</label>
    <input type="text" name="displayName" placeholder="John Smith">
    <label for="password-input">Password:</label>
    <input type="password" name="password" placeholder="**********">
    <label for="isAdmin-input">Admin?</label>
    <select name="isAdmin">
        <option value="false">No</option>
        <option value="true">Yes</option>
    </select>
    <button type="submit">Create Account</button>
</form>
{{#if errorMessage}}
    <p>{{errorMessage}}</p>
{{/if}}