<div id="signup-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="signup-form">
          <form action="/auth/signup" method="POST" class="mt-5">  
            <div class="card-body px-4 py-5 px-md-5 d-flex flex-column">
                <h2 class="display-3">Create an Account</h2>
            <!-- Username input -->
                <div class="form-outline mb-4">
                  <label for="username-input">Username:</label>
                  <input type="text" name="username" placeholder="Enter here"class="form-control" />
                </div>
            <!-- Email input -->
                  <div class="form-outline mb-4">
                      <label for="email-input">Email:</label>
                      <input type="email" name="email" placeholder="Enter here"class="form-control" />
                  </div>
            <!-- Display Name input -->
                  <div class="form-outline mb-4">
                      <label for="displayName-input">Display Name:</label>
                      <input type="text" name="displayName" placeholder="Enter here"class="form-control" />
                  </div>
            <!-- Password input -->
                  <div class="form-outline mb-4">
                      <label for="password-input">Password:</label>
                      <input type="password" name="password" placeholder="**********" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters"/>
                  </div>
            <!-- Admin input -->
                  <div class="form-outline mb-4">
                      <label for="isAdmin-input">Admin?</label>
                      <select name="isAdmin">
                          <option value="false">No</option>
                          <option value="true">Yes</option>
                      </select>
                  </div>
                <button type="submit" class="btn btn-dark btn-block mb-4">Signup</button> 
                <div>
                {{#if errorMessage}}
                    <p>{{errorMessage}}</p>
                {{/if}} 
            </div>   
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>