<h1>Welcome, {{currentUser.displayName}}!</h1>
{{#if currentUser.isAdmin}}
    <h2>-Admin Account-</h2>
{{/if}}
<img src="{{currentUser.image}}" class="profile-photo rounded">
<a href="/profile/upload-photo">Upload profile photo</a>