body {
  
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.profile-photo {
  width: 350px;
}

.wrap {
  background-image: url(/images/pexels-prateek-katyal-2694434.jpg);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}